@media (max-width: 765px) {
  #logo {
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
  #navbar li {
    font-size: 0.8rem;
    margin-right: 20px;
  }
  #about {
    flex-direction: column;
    width: 100%;
  }
  .foto {
    width: 250px;
    margin-bottom: 30px;
  }
  .foto img {
    width: 100%;
    margin: 0;
  }
  .desc {
    width: 80%;
    font-size: 0.7rem;
    margin-left: 20%;
  }
  #content {
    font-size: 0.6rem;
  }
  #skills,
  #certifs {
    gap: 10px;
  }
  .skill-box {
    width: 120px;
    height: 120px;
    font-size: 0.65rem;
  }
  .skill-box img {
    width: 50%;
    height: 50%;
  }
  #certif {
    height: 210vh;
  }
  #contact {
    font-size: 0.7rem;
  }
  #contact img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  #certif {
    height: 225vh;
  }
}
@media (max-width: 380px) {
  #certif {
    height: 290vh;
  }
  #contact {
    font-size: 0.6rem;
  }
}
@media (max-width: 360px) {
  #certif {
    height: 260vh;
  }
}
